<%- include('../partials/head-links.ejs') %>
<%- include('../partials/head-nav.ejs') %>

<h1>
We have sent an email to <%=email%>, please click on the link to confirm your account before logging in.

If the email address that you provided is incorrect please <a href="/register">click here to re-register </a>

If you did not receive your email <a href="/resend-acc-confirmed-email">Please click here to resend it</a>
</h1>




<%- include('../partials/footer.ejs') %>

